.about {
  width: 100%;
  flex-grow: 1;
  background: url('/src/assets/aboutBack.jpg') -15vw 0 no-repeat;
  background-size: cover;
  display: flex;
}

.content {
  flex-grow: 1;
  position: relative;
  background-color: #000;

  &--about {
    margin-left: 25vw;
  }
}
