.about {
  width: 100%;
  flex-grow: 1;
  background: url('/src/assets/aboutBack.jpg') -15vw 0 no-repeat;
  background-size: cover;
  display: flex;

  .main-button {
    color: #444;
    background-color: #000;
    padding-left: 40px;
    transform-origin: 50% 50%;
    transform: skewX(37deg) translateX(-30px);

    .text {
      transform: skewX(-37deg);
      margin-right: 20px;
    }
  }
}

.logo.logo--about {
  z-index: 1;
  width: 300px;
  left: calc(25vw - 150px);
}

.logo--back {
  width: 350px;
  height: 350px;
  background-color: #000;
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
  left: calc(25vw - 150px);
  transform-origin: 50% 50%;
  transform: rotate(55deg);
}

.content {
  background-color: #000;
  flex-grow: 1;
  position: relative;
  z-index: 2;

  &--about {
    margin-left: 25vw;
  }
}
