@import 'variables';

.gallery {
  color: white;
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: black;
  align-self: flex-start;

  &__item {
    object-fit: cover;
    flex-grow: 1;
    border-right: 5px solid black;

    &--container {
      flex-basis: 10rem;
      flex-grow: 1;
      max-height: 200px;
      padding: 10px 0;
      display: flex;
      border-bottom: 1px solid $darkred;
      transition: all .3s;

      &.active {
        margin-bottom: 200px;
      }
    }
  }

  &:after {
    content: '';
    width: 1px;
    border-bottom: 1px solid $darkred;
    flex-grow: 999;
  }
}

.detailedGallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  align-items: center;
  position: relative;

  &__button {
    width: 0;
    height: 0;
    border: 40px solid black;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    cursor: pointer;

    &:after {
      content: '';
      height: 30px;
      width: 10px;
      background-color: $darkgray;
      position: absolute;
      z-index: 1;
      right: 10px;
      top: -15px;
    }

    &:before {
      content: '';
      width: 70px;
      height: 10px;
      background-color: $darkgray;
      position: absolute;
      left: -30px;
      bottom: -5px;
    }

    &--prev {
      left: 30px;
    }

    &--next {
      right: 30px;
      transform: scale(-1);
    }
  }

  &__big-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-bottom: 10px;
    overflow: hidden;
    flex-grow: 1;
  }

  &__item {
    padding-top: 10px;
    object-fit: cover;
    height: 100%;
    margin: 0 5px;
    position: relative;

    &.router-link-active {
      padding-top: 0;
      border-top: 10px solid $darkred;
    }
  }

  &__all-items {
    width: 100%;
    flex-basis: 20vh;
    height: 20vh;
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    border-top: 1px solid $darkred;
    box-sizing: border-box;
    position: relative;

    &--container {
      display: flex;
      box-sizing: border-box;
      position: relative;
      height: 100%;
    }
  }
}