@import url('https://fonts.googleapis.com/css?family=El+Messiri:600');
@import 'variables';

h1, h2 {
  font-family: $custom-font;
  color: white;
  padding-left: 20px;
  border-left: 5px solid $darkred;
}

h2 {
  background-color: $darkred;
  margin-top: 0;
}

p {
  font-family: $custom-font;
  color: white;
  padding: 0 20px;
  line-height: normal;
}

a {
  font-family: $custom-font;
  color: white;

  &:hover {
    color: $darkred;
  }
}

.main {
  width: 100%;
  flex-grow: 1;
  background: white;
  background-size: cover;
  display: flex;
  position: relative;
  z-index: 0;
}

.logo {
  width: 400px;
  height: 400px;
  position: absolute;
  right: calc(50% - 200px);
  z-index: 2;
  cursor: pointer;
  background: url('/src/assets/logo.png') center center no-repeat;
  background-size: contain;
}

.abralogo {
  background: url('/src/assets/abralogo.svg') no-repeat;
  width: 200px;
  height: 400px;
  position: relative;
  z-index: 1;

  &-back {
    position: absolute;
    left: calc(50% - 100px);
    top: 120px;
    z-index: 1;

     &:after {
       content: '';
       width: 0;
       height: 0;
       transform: scale(1.6, 3) translateY(30%);
       border: 100px solid transparent;
       border-top-color: #1e1e1e;
       position: absolute;
       top: 0;
       z-index: 0;
     }
  }
}

.main-button {
  color: lighten($darkgray, 20%);
  background-color: $darkgray;
  display: flex;
  min-width: 250px;
  height: 80px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 0;
  outline: 0;
  font-size: 2em;
  cursor: pointer;
  z-index: 2;
  transition: color .3s;

  &--about {
    position: absolute;
    left: calc(50% - 350px);
    top: 150px;

    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      bottom: -20px;
      border: 10px solid transparent;
      border-top-color: black;
      border-right-color: black;
      z-index: 2;
    }

    &:after {
      content: '';
      width: 100px;
      height: 40px;
      background-color: darken($darkgray, 20%);
      position: absolute;
      right: 0;
      bottom: -50%;
      transform: skewX(-45deg) translateX(-20px);
      z-index: -2;
    }
  }

  &--works {
    position: absolute;
    right: calc(50% - 350px);
    top: 150px;

    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      right: 0;
      bottom: -20px;
      border: 10px solid transparent;
      border-top-color: black;
      border-left-color: black;
      z-index: 2;
    }

    &:after {
      content: '';
      width: 100px;
      height: 40px;
      background-color: darken($darkgray, 20%);
      position: absolute;
      left: 0;
      bottom: -50%;
      transform: skewX(45deg) translateX(20px);
      z-index: -2;
    }
  }

  &--main {
    width: 480px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    right: calc(50% - 240px);
    top: 270px;
    z-index: 0;
    background: url('/src/assets/satanback.svg') $darkgray no-repeat center;
    background-size: 90%;
  }

  a {
    color: inherit;
    text-decoration: none;
    position: relative;
    z-index: 2;
    font-family: $custom-font;
  }

  &:hover {
    color: white;
  }
}

.ribbon {
  position: absolute;
  bottom: 0;
  z-index: -1;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-bottom-color: darken($darkgray, 5%);
    border-right-color: darken($darkgray, 5%);
    position: absolute;
    left: -60px;
    bottom: -20px;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top-color: darken($darkgray, 5%);
    border-right-color: darken($darkgray, 5%);
    position: absolute;
    left: -60px;
    bottom: -20px;
  }

  &-coverup {
    background-color: $darkgray;
    width: 50px;
    height: 80px;
    position: absolute;
    top: 0;

    &-left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
    bottom: 40px;
    transform: scale(-1);
  }
}

.background {
  transition: all .3s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  &--works {
    background-size: cover;
  }

  &--about {
    background-size: cover;
  }

  &--main {
    background-size: cover;
  }
}

.social {
  width: 50px;
  height: 50px;
  opacity: .5;
  color: darken($darkgray, 20%);
  transition: all .3s;

  &:hover {
    color: lighten($darkgray, 20%);
  }
}

.svg-icon {
  fill: currentColor;
}

.buttons-ribbons {
  width: 100%;
  position: absolute;
}

.background-enter-active, .background-leave-active {
  transition: opacity .3s
}
.background-enter, .background-leave-to {
  opacity: 0;
}